{% load static from staticfiles %}
{% load sitetree %}

<div id="top-image" class="container">
    <img src="{% static "img/stretched-right.png" %}" />   
    <img src="{% static "img/logo.png" %}" />
    <img src="{% static "img/stretched-left.png" %}" />
</div> 

<nav id="top-navbar" class="navbar navbar-inverse">
    <div class="container navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
    </div>
    <div class="collapse navbar-collapse" id="top">
      <ul class="nav navbar-nav">
        {% sitetree_tree from "menu" template "sitetree/navbar.html" %}
      </ul>
    </div>
</nav>