{% extends "fireshow/base.html" %}
{% load sitetree %}

{% block content %}
    <div class="container-fluid">
        {% include "fireshow/carousel.html" %}
    </div>

    <div class="container">
        <p>
            Огненное шоу — разновидность уличного перформанса (выступления оригинального жанра), 
            значительная часть которого заключается в исполнении трюков с огнем, а также использовании огня для реализации творческой идеи. 
            Огненное шоу, как правило, исполняется группой из нескольких артистов, традиционно называемой театр огня. 
            Артистов театра огня обычно называют фаерщиками, спиннерами или просто артистами оригинального жанра. 
            В современном мире фаерщики представляют собой отдельную субкультуру со своими обычаями, традициями и языком.
        </p>
    </div>

    <div class="container">
        videos placeholder
    </div>

    <div class="container">
        images_placeholder
    </div>
    
{% endblock %}