{% extends "fireshow/base.html" %}
{% load static from staticfiles %}
{% load sitetree %}

{% block content %}
    <div class="container"><!-- /.carousel -->
        <div id="large_carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                    <img src="{% static "img/slide1.png" %}">
                </div>
                <div class="item">
                    <img src="{% static "img/slide1.png" %}">
                </div>
                <div class="item">
                    <img src="{% static "img/slide1.png" %}">
                </div>
            </div>
            <a class="left carousel-control" href="#large_carousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
            <a class="right carousel-control" href="#large_carousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
        </div><!-- /.carousel -->
    </div>

    <div class="container">
        <p>
            <i>
                Огненное шоу — разновидность уличного перформанса (выступления оригинального жанра), 
                значительная часть которого заключается в исполнении трюков с огнем, а также использовании огня для реализации творческой идеи. 
                Огненное шоу, как правило, исполняется группой из нескольких артистов, традиционно называемой театр огня. 
                Артистов театра огня обычно называют фаерщиками, спиннерами или просто артистами оригинального жанра. 
                В современном мире фаерщики представляют собой отдельную субкультуру со своими обычаями, традициями и языком.
            </i>
        </p>
    </div>

    <div class="container">
        <h2><span>Фотогаллерея</span></h2>
        <div class="row">
            {% for p in small_carousel %}
                <div class="col-md-2">
                    <img class="thumbnail image-t" src="{{ p.filepath.url }}">
                 </div>
            {% endfor %}
        </div>
    </div>      
{% endblock %}