body {
    background-color: #000;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #FFF;
}
.row-content {
    min-height:200px;
}
.carousel {
    height: 300px;
    margin-bottom: 40px;
}
.carousel .item {
    height: 300px;   
}
.carousel .item > img {
    min-height: 300px;
    margin: auto;
}
.navbar { 
    background-color: #000;
    margin:5px 0px 5px 0px;
}
.navbar-nav {
        margin: 0 auto;
        display: table;
        table-layout: fixed;
        float:none;
}
.page-header {
    text-align:center;
}
.img-gallery {
    border:none;
    background-color: #000;
}
.img-detail {
    display:block;
    margin: 0 auto;
    padding: 10px 0px 10px 0px;
}
.vid-detail-lg {
    width: 550px;
    height:300px;
    margin: 0 auto;
    padding: 10px 0px 10px 0px;
}
.vid-detail-sm {
    width: 220px;
    height:100px;
    margin: 0 auto;
    padding: 10px 0px 10px 0px;
}
@media (min-width: 992px){
    .vid-detail-lg {
        width: 650px;
        height:400px;
        margin: 0 auto;
        padding: 10px 0px 10px 0px;
    }
    .vid-detail-sm {
        width: 300px;
        height:150px;
        margin: 0 auto;
        padding: 10px 0px 10px 0px;
    }
}
#top-image {
    vertical-align:bottom;
    text-align:center;
}
#bot-image {
    background-image:url("../img/footer.png");
    background-repeat:repeat-x;
    min-height:100px;
}
/* Выключаем стили у ссылки */
.link-unstyled {
  color: inherit;
  text-decoration: inherit;
}

.link-unstyled:link {
  color: inherit;
  text-decoration: inherit;
}

.link-unstyled:hover {
  color: inherit;
  text-decoration: inherit;
}
/* Горизонтальная линия "зачеркивающая" текст  */
h2 {
    position: relative;
    overflow: hidden;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
}
h2 > span {
    display: inline-block;
    margin: 0 .4em;
}
h2 > span:before,
h2 > span:after {
    content: '';
    position: absolute;
    width: 100%;
    border-top: 2px solid red;
    margin-top: .6em;
}
h2 > span:before {
    margin-left: -102%;
}
h2 > span:after {
    margin-left: 2%;
}
